.lightSwitch {
  padding: 10px;
  margin-inline-start: 16px;
  background: 0;
  border: none;
  font-size: 24px;
  color: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  box-sizing: content-box;
  height: 24px;
}

.lightSwitchIcons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 1em;
  transition: transform 0.32s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translateY(var(--light-switch-icon-start-pos));
}

.lightSwitch:hover .lightSwitchIcons {
  transform: translateY(var(--light-switch-icon-end-pos));
}
