.container {
  background: var(--color-background);
}

.header {
  padding: 20px 40px 0;
  height: 180px;
  background: var(--gradient);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
}

.name {
  font-family: var(--font-title);
  font-size: 32px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  padding: 10px;
  margin-inline-start: 16px;
}

.link:last-of-type {
  padding-inline-end: 0;
}

.main {
  background: var(--color-background);
  position: relative;
}

.content {
  max-width: 792px;
  padding: 40px;
  margin: 0 auto;
}

.pageTop {
  position: absolute;
  width: 100%;
  max-height: 52px;
  height: 8vw;
  bottom: 100%;
  object-fit: fill;
  color: var(--color-background);
}
