.container {
  background: var(--color-background);
}

.header {
  padding: 20px 40px 0;
  height: 180px;
  background: var(--gradient);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
}

.name {
  font-family: var(--font-title);
  font-size: 32px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  padding: 10px;
  margin-inline-start: 16px;
}

.link:last-of-type {
  padding-inline-end: 0;
}

.lightSwitch {
  padding: 10px;
  margin-inline-start: 16px;
  background: 0;
  border: none;
  font-size: 24px;
  color: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  box-sizing: content-box;
  height: 24px;
}

.lightSwitchIcons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 1em;
  transition: transform 0.32s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translateY(var(--light-switch-icon-start-pos));
}

.lightSwitch:hover .lightSwitchIcons {
  transform: translateY(var(--light-switch-icon-end-pos));
}

.main {
  background: var(--color-background);
  position: relative;
}

.content {
  max-width: 792px;
  padding: 40px;
  margin: 0 auto;
}

.pageTop {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 100%;
  object-fit: fill;
  color: var(--color-background);
}
